# Configured LLM models
GARGOYLE_LLM_MODELS__DEFAULT__MODEL=gpt-5-nano
GARGOYLE_LLM_MODELS__DEFAULT__API_KEY=<<API_KEY>>
# GARGOYLE_LLM_MODELS__DEFAULT__BASE_URL=http://localhost:8001/v1

# Model identifiers for different graph nodes (defaults to "default")
GARGOYLE_GRAPH_NODES__MERGE_KEYWORD_HIERARCHIES_ID=default
GARGOYLE_GRAPH_NODES__KEYWORDS_SINGLE_STEP_BUILDER_ID=default
GARGOYLE_GRAPH_NODES__KEYWORDS_HIERARCHY_BUILDER_ID=default
GARGOYLE_GRAPH_NODES__KEYWORDS_EXTRACTOR_ID=default
